<p><%= t :hello %> <%= @devise_resource.email %>!</p>

<p><%= t '.account_lock_msg' %></p>

<p><%= t '.unlock_link_msg' %></p>

<p><%= link_to t('.unlock_link'), unlock_url(@devise_resource, unlock_token: @token, config: message['client-config'].to_s) %></p>
